.h2-header {
  color: $gray1;
  font-family: Laila;
}

.h2-header-email {

  color: $gray1;
  font-family: Laila;
  margin-bottom: 0px;
  margin-top: -20px;
}

.h2-header-user {

  color: $g1;
  margin-top: -1px;

}

#shift-up {
  color: $b2;
}

div.user-info-format {
  margin-top: -20px;
  text-align: center;
  font-family: Laila;


  width:20%;
  float: none;
}

.grav-bottomless {

}
