header.dark-blue {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  background: $b1;
  width:100%;
  margin: 0;

}

.header-nav {
  font-size: 26px;
  padding: 0.25em 0.5em 0.25em 0.5em;
  color:white;
}

.header-nav-small {
  padding: 0.25em 1.8em 1em 0.5em;
  font-size: 14px;
  color:white;
}
.laila-blue {
  font-family: 'Laila', serif;
  color: $b2;
  font-weight: 700;
}

.hind-blue {
  font-family: 'Hind', sans-serif;
  color: $b2;
  font-weight: 700;
}

.SSP-blue {
  font-family: 'Source Sans Pro', sans-serif;
  color: $b2;
  font-weight: 700;
}

h5  {
  margin-bottom:0.5em
}
h6 {
  margin-top:0.5em
}
