@import "normalize";
@import "colors";
@import "fonts";
@import "header";
@import "columnate";
@import "rants_page";
@import "loading_spinners";
@import "buttons";
@import "input_fields";

.border-test {

}

.search-bar, .new-rant-bar {
  background: $b2;
  height: 47px;
  border: none;
  color: white;
}

.search-bar {
  padding: 1em;
  border-left: 10px solid white;
}
.search-bar:focus {
  outline: none;
}



::-webkit-search-cancel-button{
    position:relative;
    right:20px;

    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius:10px;
    background: red;
}


.name-format {
  margin-bottom: none;
}


.rants-header h2  {
  float: left;

}


.rants-input-edit {
  border: none;
  border-bottom: 3px solid $g1;
  outline: none;

}

.block-it {
  display:inline-block;
  width:100%
}

.error-format {
  margin: 0 0 0 0.8em;
  color: $g1;
}

.error-format-signup {
  margin: 0 0 0 1.2em;
  color: $g1;

}

.error-format-pull-left {
  margin: 0 0 0.5em 1em;
  color: $g1;

}
.not-a-member {
  margin: 1em 0 0 2.5em;
}

textarea {
  padding: 1em;
}

#shift-up {
  margin-top: -20px;
  margin-left: 2em;
  color: $b2;
}

input {
  padding-left: 0.5em;
}

.rant-padding {
  padding-bottom: 1em;
}

.grav-pad {
  margin-top: 1em
}
