@import "normalize";
@import "colors";
@import "fonts";
@import "header";
@import "columnate";
@import "rants_page";
@import "loading_spinners";

.border-test {

}

.search-bar, .new-rant-bar {
  background: $b2;
  height: 47px;
  border: none;
  color: white;
}

.search-bar {
  padding: 1em;
  border-left: 10px solid white;
}

::-webkit-input-placeholder {
   color: white;
}

::-webkit-search-cancel-button{
    position:relative;
    right:20px;

    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius:10px;
    background: red;
}

button {
  background: white;
  color: #29BB9C;
  float: right;
  margin: 0.5em;
  padding: 0.5em 0.75em 0.5em 0.75em;
  border: none;
  border-radius: 2px;
  transition:all 0.5s;
}

button:hover {
  background: #29BB9C;
  color: white;
  transition:all 0.5s;
}

button:focus {
  outline: none;
}

.name-format {
  margin-bottom: none;
}
button.edit-button {
  float: left;
}

.rants-header h2  {
  float: left;

}
.rants-header button {
  float:right;
  position: relative;
}

.rants-input-edit {
  border: none;
  border-bottom: 3px solid $g1;
  outline: none;

}

.block-it {
  display:inline-block;
  width:100%
}
