
<div class="column column-sevenfive liquid-container rant-anima">

    {{#if model.length}}
      {{#each rant in controller}}
        {{single-rant rant=rant insideRantComponent="deleteRant" componentSort='sortDate' currentId=rant.user.id sessionId=session.id}}
      {{/each}}
    {{else}}
    <div class="final-rant right-fixed-column clearfix">
      <h1>These aren't the droids you are looking for</h1>
    </div>
    {{/if}}

</div>

{{outlet}}
