
<div class="column column-sevenfive liquid-container rant-anima">

    {{#if model.length}}
      {{#each rant in controller}}
        {{single-rant rant=rant componentRedirect="reloadRant" insideRantComponent="deleteRant" componentSort='sortDate' currentId=rant.user.id sessionId=session.id}}
      {{/each}}
    {{else}}
    <div class="final-rant right-fixed-column clearfix">
      <h1 class="h1-format h1-center">These aren't the droids you are looking for</h1>
    </div>
    {{/if}}

</div>

{{outlet}}
