
    <header class="dark-blue">
      <div class="header-nav">
        <a class="header-nav" href="#">Rantly</a>
        <a class="header-nav-small" href="#">Rants</a>
        <a class="header-nav-small" href="#">Users</a>
        <a class="header-nav-small" href="#">Signup</a>
      </div>
    </header>
<div class="main-container columns clearfix">
</div>
{{outlet}}
