<div class="main-container columns clearfix">

  {{input value=rantsearch placeholder="Search Rants" class="column column-three search-bar" }}

<div class="column column-sixsix new-rant-bar">
  -----------------
  New rant button
</div>
</div>
{{outlet}}
