

  {{input value=rantsearch placeholder="Search Rants" class="column column-three search-bar" }}

  <div class="column column-sixsix new-rant-bar">
    <button name="new-rant">{{#link-to "rants.new"}}New Rant{{/link-to}}</button>
  </div>
  <div class="column column-three">
 <h2>HEREEEE</h2>
  </div>

{{outlet}}
